html {
    font-family: 'Share Tech Mono', monospace;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
    background-color: black;
    color: white;
}

body {
    background-color: black;
}

header, footer {
    padding: 3%;

    text-align: center;
}

header {
    background: 
    linear-gradient(to top, black, transparent), 
    url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(100%) brightness(100%);  
}

nav {
    border: solid;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
}

footer {
    background: 
    linear-gradient(to bottom, black, transparent), 
    url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(100%) brightness(100%);  
}

img {
    display: block;
    width: 75%;
    height: 75%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

img, main {
    border: solid;
    background-color: black;
}